.name {
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 3%;
  text-decoration-line: underline;
}


body {
  background-image: url("../imgs/background3.jpg");
}


.links {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
  padding-top: 3%;
  text-decoration-line: underline;
}


a:link {
  color: skyblue;
}
a:visited {
  color: tomato;
}
a:hover {
  color: grey;
}
a:active {
  color: white;
}
li {
  padding-top: 1%;
  padding-bottom: 1%;
}

p {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 75%;
  height: auto;
}



.container {
  max-width: 100%;
  width: 100%;
  padding: 0;
  height: auto;
}


.pic {
  /* Not in use at the moment */
  max-width: 600px;
}

/*All code above is for general format on all pages. Code below will be specific per page. */

/* Home Page */

.natePic {
  display: block;
  margin: 0 auto;
  width: 35%;
  height: auto;
  padding-top: 6%;
  min-width: 290px;

}

.mainintro {
  padding-top: 3%;
  font-size: 18px;
  max-width: 1200px;
}



/* About Page */

.left {
  padding-top: 6%;
  float: left;
}
.right {
  float: right;
  padding-top: 6%;
}



.educationImg {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: 3%;
  padding-bottom: 3%;

}
.rightImg {
  padding-top: 10%;
}



.gridtitle {
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  padding-left: 3%;
}

.bottomgridtitle {
  padding: 0%;
}

.educationinfo {
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.bot {
  padding-top: 5%;
}

.botinfo {
  padding-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
}

.dog {
  transform: rotate(90deg);
  padding-left: 10%;
  padding-bottom: 4%;
  padding-right: 10%;
}



/*Project Page */

.projecttitle {
  margin: 0%;
}


.projectIntro {
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
  max-width: 700px;
}

.gitlinks {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
  width: 20%;
  height: auto;
}

.projectinfo {
  color: white;
  font-style: italic;
  display: block;
  margin: 0 auto;
  width: 55%;
  height: auto;
  text-align: center;
  font-size: 16px;
  max-width: 500px;
}
